body {
    background-color: #ccc;
}

:root {
    --darkBlue: #191970;
}

* p, h1, h2, h3, h4, button, a, label, input, footer {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    margin: 20px;
    color: white;
    text-align: center;
    background-color: var(--darkBlue);
    padding: 15px;
    border-radius: 25px;
}


#form {
    border-bottom: 2px black solid;
    padding-bottom: 20px;
    /* margin: 0 20px; */
}

form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 1.2em;
}

form input {
    margin: 0 3px 0 10px;
    height: 2em;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

div#search-history.search-history.col {
    display: flex;
    flex-flow: column nowrap;
    align-content: space-around;
    align-items: center;
}

#search-history-btn {
    border: 1px var(--darkBlue) solid;
    border-radius: 25px;
    margin-top: 10%;
    font-size: 1.5em;
    width: 50%;
}

#search-history-btn:hover {
    background-color: var(--darkBlue);
    color: white;
}


.card {
    border: none;
    background-color: #ccc;
}

.card-body {
    border-radius: 50px;
    padding: 30px 20px;
    margin-bottom: 8%;
}

.card-img-top {
    align-self: center;
    width: 50%;
}

.card-title {
    margin-bottom: 18px;
    font-size: 40px;
}

.card-text {
    margin-top: 20px;
    font-size: 18px;
}


footer {
    color: var(--darkBlue);
    text-align: center;
    border: var(--darkBlue) 2px solid;
    border-radius: 25px;
    padding: 15px;
    margin: 20px 30%;
}

footer a {
    color: black;
}

footer a:hover {
    color: red;
}

footer a:active {
    color: green;
}